<div class="item">
    <div class="item__image mt-5">
      <img class="image image--md rounded mr-4" src="/assets/images/sunghan.jpg"/>
    </div>
    <div class="item__content">
      <div class="article__content">
        <p>Sung-Han Lin is a performance analysis engineer and data scientist in NetApp, where his primary responsibility is to analyze and improve the performance of data storage system and software. Currently, he focuses on improving the performance of large-scale Deep Learning systems via investigating the bottleneck of data pipeline and optimizing system resource utilizations. He completed his Ph.D. from <a href="http://qed.usc.edu/">Quantitative Evaluation & Design (QED) Research Group</a> in Computer Science at University of Southern California (USC) in 2017. He received his B.S. degree in 2006 and M.S. degree from <a href="http://cmlab.csie.ntu.edu.tw/">Communication and Multimedia Laboratory (CMLab)</a> in 2008 in Computer Sience and Information Engineering (CSIE) at National Taiwan University (NTU).</p>
      </div>
    </div>
</div>