<div class="item">
    <div class="item__image">
      <img class="image image--md rounded" src="/assets/images/sunghan.jpg"/>
    </div>
    <div class="item__content">
      <div class="item__header">
        <h3>Sung-Han Lin</h3>
      </div>
      <div class="article__content">
        <p>I completed my Ph.D. from [Quantitative Evaluation & Design (QED) Research Group](http://qed.usc.edu/) in Computer Science at University of Southern California (USC) in 2017. I received my B.S. degree in Computer Sience and Information Engineering (CSIE) at National Taiwan University (NTU) in 2006, and M.S. degree from [Communication and Multimedia Laboratory (CMLab)](http://cmlab.csie.ntu.edu.tw/) in Computer Science and Information Engineering (CSIE) at National Taiwan University (NTU) in 2008.</p>

        <p>I am interested in Computer Networking, especially Distributed Systems and P2P Networks, Performance Modeling and Analysis, Machine Learning, and Cloud Computing.</p>
      </div>
    </div>
</div>