/* start custom scss snippet */

/* Expando Bits */

.expando {
  display: none;

  &:target {
    display: block;
    background-color: #ffffcc;
  }
}

$layout: (
  header-height:          3rem
)

/* end custom scss snippet */
